<%= form_with(model: @form, url: forms_create_path, method: "post") do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :question %>
    <%= form.text_area :question %>
  </div>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>
